 /* Import Google Font */
 @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

 /* Reset CSS */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto Mono", monospace;
 }

 body {
   background-color: #0f172a;
   background: transparent;
   animation: animatedBackground 2s ease-in-out infinite;
 }

 @keyframes animatedBackground {
   0% {
     background-image: linear-gradient(90deg, #0f172a 0%, #302b63 50%, #24243e 100%);
   }

   50% {
     background-image: linear-gradient(90deg, #151c30 0%, #2e2858 50%, #2c2c40 100%);
   }

   100% {
     background-image: linear-gradient(90deg, #0f172a 0%, #302b63 50%, #24243e 100%);
   }
 }

 .main {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
   mix-blend-mode: screen;
   /* Adjust blending mode as per your preference */
   background-color: black;
   /* Your background color */
 }

 .image-container {
   text-align: center;
   padding: 10px;
 }

 .image-container .image {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .image-container .image img {
   width: 400px;
   align-items: center;
   max-width: 100%;
   height: auto;
 }

 .image-container h1 {
   color: #fff;
   /* Changed font color to white */
   text-align: center;
   margin-bottom: 8px;
   font-size: 3rem;
   line-height: 1.2;
   animation: textAnimation 2s ease-in-out infinite;
 }

 @keyframes textAnimation {
   0% {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
   }

   50% {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
   }

   100% {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
   }
 }

 .image-container p {
   color: #fff;
   /* Changed font color to white */
   text-align: center;
   margin-bottom: 40px;
   font-size: 1.2rem;
   animation: textAnimation 2s ease-in-out infinite;
 }

 .input {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40vw;
   height: 50px;
   border-radius: 20px;
   background: #2c3e50;
   margin-bottom: 12px;
 }

 /* .input .talk {
   background: transparent;
   outline: none;
   border: none;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   cursor: pointer;
 } */

 .input .talk {
  background: linear-gradient(to right, #0070FF, #643DFF);
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.input .talk:hover {
  background: #2980b9; /* Change button color on hover */
}


 .input .talk i {
   font-size: 1.5rem;
   color: #fff;
   /* Changed font color to white */
 }


 .input .content {
   color: #ecf0f1;
   /* Changed font color to white */
   font-size: 1.5rem;
   margin-right: 20px;
 }




 /* Media Queries */
 @media only screen and (max-width: 600px) {

   /* Adjust font sizes for mobile devices */
   .image-container h1 {
     font-size: 1.8rem;
   }

   .image-container p {
     font-size: 1rem;
   }

   .input .content {
     font-size: 1.2rem;
     margin-right: 10px;
     /* Decrease margin to prevent overflow */
   }

   /* Adjust button size and text for mobile devices */
   .input {
     width: 80vw;
     /* Adjust width for smaller screens */
     height: 60px;
     /* Increase height for better visibility */
     background: #2c3e50;
     /* Change button color according to site theme */
   }

   .input .talk {
     width: 60px;
     /* Increase width for better tap target */
     height: 60px;
     /* Match the height of the input container */
     font-size: 1.5rem;
     /* Increase font size for better readability */
     background: linear-gradient(to right, #0070FF, #643DFF);
     /* Change button color according to site theme */
     border-radius: 50%;
     /* Make the button round */
     color: #fff;
     /* Change text color to match site theme */
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .input .talk i {
     font-size: 1.5rem;
     color: #fff;
     /* Change icon color to match button background */
   }
 }